/* HEADER */
 
.admin-button {
    display: flex;
    color:black;
    height: auto;


 }
 .admin-button:hover {
    color: #DC9F96;


 }

 #ast-hf-menu-1 {
    display:flex;
    align-items: center;
    size: 19px;
 }
 #site-title {
    size: 14px;
 }
/* Accueil*/


.avisclient {
    display: flex;
    justify-content:space-around;
    max-width: auto;
    height: 638px;
}

.imagecolone {
    display: flex;
    
    
}

.sectionavis {
    width: 343px;
    height: 139px;
    display: flex !important;
    flex-direction: row !important;
}
/*Nous rencontrer*/

.wpforms-submit-container {
    display: flex;
    justify-content: center !important;
}
.bouton {
    padding-left: 72.5px !important;
    padding-right: 72.5px !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}