/* HEADER */
 
.admin-button {
    display: flex;
    color:black;
    height: auto;


 }
 .admin-button:hover {
    color: #DC9F96;


 }

 #ast-hf-menu-1 {
    display:flex;
    align-items: center;
    size: 19px;
 }
 #site-title {
    size: 14px;
 }
/* Accueil*/


.avisclient {
    display: flex;
    justify-content:space-around;
    max-width: auto;
    height: 638px;
}

.imagecolone {
    display: flex;
    width: auto;
    max-width:127px ;
    
}

.sectionavis {
    width: 343px;
    height: 139px;
    display: flex !important;
    flex-direction: row !important;
}
/*Nous rencontrer*/

.wpforms-submit-container {
    display: flex;
    justify-content: center !important;
}
.bouton {
    padding-left: 72.5px !important;
    padding-right: 72.5px !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

/*Commander*/

/*.wpforms-field-container {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}
#wpforms-form-542 {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
}*/

#numerique{
    width: 39px;
    height: 56px;
    padding: 0 !important;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color:black;
}
#ffoorrmm {
    display: flex;
    flex-direction: column;
}

#formcom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color:white;
}
#misenpage {
    width: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.champsclient input {
    max-width: 383px;
    height:71px;
    border-radius: 7px;
}
#sepline{
    padding: 0 45px;
    margin-right: 45px;
    border-right: 1px solid white;
}
/*#colonnedroite {
    padding-left: 45px;
}*/
label {
    display: block;
    margin-top: 30px;
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.titlcom {
    color: white;
    font: optional;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 29px;
}
#btncommande {
    margin: 44px auto !important;
    width:198px;
    height: 55px;
    border-radius: 5px;
    color:white;
}

.column {
    display: flex;
    flex-direction: column;
}

/*.elementor-widget-container {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
}
.testchamp {
    width: 82px !important;
    height: 56px !important;
}
.testbout {
    width: 100px !important;
    height: 56px !important;
}
